---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Timeline from '@components/Timeline.tsx';
import Video from '@components/Video.astro';
import Layout from '@layouts/Layout.astro';
import { MENU_ITEMS } from '@utils/menu.contants';

const itemsQualidade: { pathImage: string; title: string; text: string; pathImageContent: string }[] = [
  {
    pathImage: 'qualidade-01.png',
    title: 'Nossa política de qualidade',
    text: 'Nossos processos possuem procedimentos e diretrizes que orientam a produção, a comercialização e a entrega de alimentos seguros e de qualidade. Nossa fábrica possui certificação SISBI-POA, garantindo a segurança e qualidade padrão Mimosa.',
    pathImageContent: '',
  },
  {
    pathImage: 'qualidade-02.png',
    title: 'SISBI',
    text: 'Nossos produtos possuem certificação do Sistema Brasileiro de Inspeção de Produtos de Origem Animal.',
    pathImageContent: 'qualidade-sisbi.png',
  },
  {
    pathImage: 'qualidade-03.png',
    title: 'SISBI-POA',
    text: 'Nossos produtos possuem certificação do Sistema Unificado de Atenção à Sanidade Agropecuária.',
    pathImageContent: 'qualidade-sisbi.png',
  },
  {
    pathImage: 'qualidade-04.png',
    title: 'SELO ALIMENTOS DO PARANÁ',
    text: 'Vencedora na categoria melhores empresas do setor alimentício de todo o Paraná. Organizado por Fundação Nacional da Qualidade (FNQ) e Sebrae-PR.',
    pathImageContent: 'qualidade-alimentos-pr.png',
  },
];
---

<Layout>
  <Header />

  <main>
    <section class="lg:-mt-37">
      <Video
        title="Institucional"
        videoUrl="/home/video-example.mp4"
        videoUrlYoutube="https://www.youtube.com/watch?v=U0PnH13IRfg"
        breadcrumbs={[
          {
            label: MENU_ITEMS.home.label,
            href: MENU_ITEMS.home.href,
          },
          {
            label: MENU_ITEMS.institucional.label,
            href: MENU_ITEMS.institucional.href,
          },
        ]}
      />
    </section>

    <section class="container-center px-10 py-10">
      <div class="flex flex-col items-center justify-center text-center">
        <h2 class="title">Mimosa Alimentos</h2>
        <h2 class="subtitle">Há 21 anos trazendo sabor para sua família.</h2>
        <img class="mt-5 lg:mt-20" src="/institucional/linguicas.png" alt="Mimosa Alimentos" />
        <p class="paragraph -mt-10 max-w-200 font-bold! text-red-800! lg:-mt-30">
          A história da Mimosa Alimentos é marcada por muito trabalho, dedicação e esforço continuo por produtos com
          sabor irresistível e qualidade inquestionável.
        </p>

        <div class="flex flex-col gap-12 py-10 text-left md:gap-16 lg:py-20">
          <div class="flex flex-col items-center gap-7 md:flex-row md:gap-12">
            <div class="flex-1/2">
              <p class="mb-5">
                A Mimosa Alimentos nasceu em 2001 atuando na distribuição de leite de saquinho em Umuarama no estado do
                Paraná, inicialmente no sistema em domicílio e posteriormente ampliando o atendimento a pequenos
                supermercados e panificadoras, onde se consolidou neste segmento.
              </p>
              <p class="mb-5">
                O amor em produzir alimentos sempre foi muito forte na vida dos seus fundadores, Rosângela e José
                Aparecido. Como uma forma de criar um diferencial, eles começaram a produzir linguiça frescal caseira e
                presentear os clientes da Mimosa.
              </p>
              <p>
                A aceitação foi tão grande, que os clientes passaram a fazer encomendas das linguiças. Em 2006 surgiu a
                ideia de produzir linguiça frescal em escala industrial, que se tornou o principal produto da Mimosa
                Alimentos.
              </p>
            </div>
            <div class="flex-2/3">
              <img
                class="w-full rounded-2xl"
                src="/institucional/foto-01.png"
                alt="Mimosa Alimentos - Uma história de amor e dedicação!"
              />
            </div>
          </div>

          <div class="flex flex-col-reverse items-center gap-7 md:flex-row md:gap-12">
            <div class="flex-2/3">
              <img
                class="w-full rounded-2xl"
                src="/institucional/foto-02.png"
                alt="Leve a qualidade dos produtos mimosa até você!"
              />
            </div>

            <div class="flex-1/2">
              <p class="mb-5">
                Com um amplo mix de produtos, a Mimosa Alimentos se tornou uma das mais importantes indústrias do
                segmento do Paraná, sendo a primeira fabrica de conservas a produzir linguiça com a certificação
                SISBI/POA - Sistema Brasileiro de Inspeção de Produtos de Origem Animal, e a décima do Brasil com esta
                certificação, o que a credencia, distribuir seus produtos para todo o Brasil.
              </p>
              <p>
                A marca conta com um mix próprio de 20 itens, entre linguiça Toscana, Toscana com Queijo, linguiça fina
                na tripa de carneiro - a famosa churrasquita - e a linha Churrasco, além de também realizar o
                fracionamento de frios com certificação SISBI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="flex flex-col bg-yellow-300 px-5 py-10">
      <div class="container-center">
        <h1 class="title mb-3 text-center md:mb-10">Conheça nossa história!</h1>
      </div>

      <div class="container-center">
        <Timeline client:load />
      </div>
    </section>

    <section
      class="bg-[url('/institucional/processos-qualidade.png')] bg-cover bg-left bg-no-repeat px-5 pb-5 lg:bg-center lg:px-10 lg:pb-0"
    >
      <div class="container-center">
        <div class="flex h-[700px] items-end justify-center lg:h-[850px] lg:items-center lg:justify-end">
          <div class="max-w-80 rounded-2xl bg-red-800 p-5 text-left md:max-w-150 lg:p-15 xl:max-w-200">
            <h1 class="text-2xl leading-7 font-bold text-yellow-500">Nossos processos de qualidade!</h1>
            <p class="paragraph my-3 text-white!">
              Nosso processo produtivo é monitorado e regulamentado pelo Ministério da Agricultura, Pecuária e
              Abastecimento – MAPA, que padroniza e harmoniza os procedimentos de inspeção de produtos de origem animal,
              garantindo a inocuidade e segurança alimentar. Estamos integrados ao SISBI através da Agência de Defesa
              Agropecuária do Paraná – ADAPAR, que faz visitas regulares e analises Físico-Químicas periódicas.
            </p>
            <p class="paragraph text-white!">
              Processamos em media 250 toneladas de carne suina/mês, gerando 60 empregos diretos.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container-center px-10 py-10 lg:py-20">
      <div class="flex flex-col items-center justify-center text-center">
        <h2 class="title mb-10">Nossos pilares</h2>

        <div class="flex flex-col gap-10">
          <div
            class="relative h-auto overflow-hidden rounded-2xl lg:flex lg:h-[300px] lg:min-h-100 lg:flex-row-reverse 2xl:h-[500px]"
          >
            <div class="lg:h-full lg:flex-3">
              <img src="/institucional/pilares-01.png" alt="Nossos Pilares" class="h-full w-full object-cover" />
            </div>
            <div
              class="flex flex-col items-center justify-center gap-3 bg-yellow-300 p-5 text-center lg:flex-1 lg:gap-5 lg:p-10"
            >
              <img class="max-w-15" src="/institucional/qualidade-ico-missao.png" alt="Missão" />
              <h3 class="text-lg leading-6 font-bold text-red-800 lg:text-3xl">Missão</h3>
              <p class="paragraph">
                "Ser referência em qualidade e sabor de nossos produtos, sempre respeitando nossos clientes,
                colaboradores e consumidores."
              </p>
            </div>
          </div>

          <div
            class="lg:h-[300px 2xl:h-[500px]] relative h-auto overflow-hidden rounded-2xl lg:flex lg:min-h-100 lg:flex-row"
          >
            <div class="lg:h-full lg:flex-3">
              <img src="/institucional/pilares-02.png" alt="Nossos Pilares" class="h-full w-full object-cover" />
            </div>
            <div
              class="flex flex-col items-center justify-center gap-3 bg-yellow-300 p-5 text-center lg:flex-1 lg:gap-5 lg:p-10"
            >
              <img class="max-w-15" src="/institucional/qualidade-ico-visao.png" alt="Visão" />
              <h3 class="text-lg leading-6 font-bold text-red-800 lg:text-3xl">Visão</h3>
              <p class="paragraph">
                "Produzir e oferecer alimentos com segurança alimentar, alto padrão de qualidade e sabor diferenciado,
                proporcionando aos nossos clientes o prazer e a satisfação de comer bem."
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="qualidade" class="container-center px-10 py-10 lg:py-20">
      <div class="flex flex-col items-center justify-center text-center">
        <h2 class="title mb-3">Qualidade Mimosa</h2>
        <h3 class="subtitle mb-5">Levando sempre os melhores produtos para sua mesa!</h3>
        <p class="paragraph mb-10 max-w-200 lg:mb-20">
          Sempre investindo em tecnologia, qualidade e inovação a Mimosa trabalha para oferecer os melhores produtos
          para suas refeições.
        </p>

        <ul class="flex flex-col gap-15 lg:gap-30">
          {
            itemsQualidade.map((item) => (
              <li class="flex flex-col items-center gap-4 md:flex-row md:gap-10 md:text-left">
                <div class="md:flex-1">
                  <img src={`/institucional/${item.pathImage}`} alt={item.title} class="w-full rounded-2xl" />
                </div>
                <div class="flex flex-col gap-3 md:flex-1">
                  <h4 class="font-bold md:text-lg">{item.title}</h4>
                  {item.pathImageContent && (
                    <img
                      class="mx-auto max-w-50 md:ml-0"
                      src={`/institucional/${item.pathImageContent}`}
                      alt={item.title}
                    />
                  )}
                  <p class="paragraph">{item.text}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section class="relative flex h-[270px] flex-col items-center justify-center bg-yellow-300 px-5 py-10 xl:h-[370px]">
      <div
        class="absolute inset-0 top-0 z-1 h-full w-full bg-[url(/institucional/foto-03.png)] bg-cover bg-top bg-no-repeat opacity-15"
      >
      </div>

      <div class="container-center z-2">
        <div class="flex flex-col items-center gap-8 py-10 text-sm md:flex-row md:gap-32 lg:gap-40 xl:text-xl">
          <p class="flex-1/2 text-right text-red-800">
            Lorem ipsum dolor sit amet consectetur eget amet at metus nunc eu in blandit.
          </p>
          <a class="btn --red inline-block w-full flex-1/2" href={MENU_ITEMS.institucional.href}
            >Surpreenda-se com a nossa qualidade</a
          >
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
