---
import { MENU_ITEMS } from '@utils/menu.contants';
import Social from './Social.astro';
---

<footer class="flex justify-center bg-red-800 px-5 py-10 text-base text-white">
  <div class="container flex w-full flex-col gap-y-16 lg:flex-row lg:flex-wrap lg:justify-between">
    <section class="flex flex-row justify-center gap-10 text-sm font-bold uppercase lg:flex-initial">
      <ul class="flex flex-col gap-5">
        <li>
          <a class="hover:text-yellow-500" href={MENU_ITEMS.home.href}>{MENU_ITEMS.home.label}</a>
        </li>
        <li>
          <a class="hover:text-yellow-500" href={MENU_ITEMS.institucional.href}>{MENU_ITEMS.institucional.label}</a>
        </li>
        <li>
          <a class="hover:text-yellow-500" href={MENU_ITEMS.qualidade.href}>{MENU_ITEMS.qualidade.label}</a>
        </li>
        <li>
          <a class="hover:text-yellow-500" href={MENU_ITEMS.produtos.href}>{MENU_ITEMS.produtos.label}</a>
        </li>
      </ul>

      <ul class="flex flex-col gap-5">
        <li>
          <a class="hover:text-yellow-500" href={MENU_ITEMS.downloads.href}>{MENU_ITEMS.downloads.label}</a>
        </li>
        <li>
          <a class="hover:text-yellow-500" href={MENU_ITEMS.ondeEncontrar.href}>{MENU_ITEMS.ondeEncontrar.label}</a>
        </li>
        <li>
          <a class="hover:text-yellow-500" href={MENU_ITEMS.sejaUmCliente.href}>{MENU_ITEMS.sejaUmCliente.label}</a>
        </li>
        <li><a class="hover:text-yellow-500" href={MENU_ITEMS.contato.href}>{MENU_ITEMS.contato.label}</a></li>
      </ul>
    </section>

    <section class="flex flex-col items-center lg:flex-initial">
      <h3 class="mb-3 font-bold text-yellow-500 uppercase">Mimosa Alimentos LTDA.</h3>
      <address class="font-style-normal text- text-center text-sm uppercase not-italic">
        Avenida Umuarama, 3416 <br />
        87507-055 | Umuarama-PR
      </address>
    </section>

    <section class="flex flex-col items-center lg:flex-initial">
      <h3 class="font-bold text-yellow-500 uppercase">SAC Mimosa:</h3>
      <a class="my-4 flex items-center" href="https://wa.me/554436267484" target="_blank" rel="noopener noreferrer">
        <img src="/social/whatsapp-white.png" alt="WhatsApp Icon" class="mr-2 w-4" />
        <span class="font-bold">(44) 3626-7484</span>
      </a>
      <p class="mt-1 text-center text-sm uppercase">
        Horário de atendimento: <br />
        Segunda à Sexta: 08:00h às 18:00h. <br />
        Sábado: 08:00h às 12:00h.
      </p>
    </section>

    <section class="flex flex-auto flex-col items-center lg:flex-initial">
      <a href="/">
        <img class="mb-5 w-38" src="/logo-mimosa-white.svg" alt="Logo Mimosa Alimentos" />
      </a>
      <Social iconColor="red" iconWithBackground={true} />
    </section>
  </div>
</footer>
