---
import type { ISac } from '@interfaces/sac.interface';
import { MENU_ITEMS } from '@utils/menu.contants';
const { inFooter } = Astro.props as ISac;

const colors = {
  title: inFooter ? 'text-yellow-300' : 'text-red-800',
  phone: inFooter ? 'text-white' : 'text-gray-700',
  iconPhone: inFooter ? 'whatsapp-white.png' : 'whatsapp-gray.png',
  schedule: inFooter ? 'text-white' : 'text-gray-700',
};
---

<div class="flex flex-col items-center">
  <h3 class={`font-bold uppercase ${colors.title}`}>SAC Mimosa:</h3>
  <a class="my-2 flex items-center" href="https://wa.me/554436267484" target="_blank" rel="noopener noreferrer">
    <img src={`/social/${colors.iconPhone}`} alt="WhatsApp Icon" class="mr-2 w-4" />
    <span class={`font-bold ${colors.phone}`}>(44) 3626-7484</span>
  </a>
  <p class={`mt-1 text-center text-sm uppercase ${colors.schedule}`}>
    Horário de atendimento: <br />
    Segunda à Sexta: 08h00 às 11h30 / 14h00 às 18h00. <br />
    Sábado: 08h00 às 12h00.
  </p>
  <a class="mt-3 font-semibold uppercase" href={MENU_ITEMS.denuncie.href}>{MENU_ITEMS.denuncie.label}</a>
</div>
